{% extends "base.html" %}
{% load humanize %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ titulo }} </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>RFC</th>          
          <th>Moneda</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for dt in qry %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ dt.RFC_Receptor }}</td>          
          <td>{{ dt.Moneda }}</td>
          <td>{{ dt.total_price|floatformat:"2"|intcomma }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</main>

{% endblock %}